In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Sklearn
import sklearn.preprocessing
import sklearn.metrics
import sklearn.feature_selection
import sklearn.model_selection

# Import Data

In [2]:
train_identity = pd.read_csv('/Users/zhaoruidi/Documents/Kaggle/Data/train_identity.csv')
test_identity = pd.read_csv('/Users/zhaoruidi/Documents/Kaggle/Data/test_identity.csv')
train_transaction = pd.read_csv('/Users/zhaoruidi/Documents/Kaggle/Data/train_transaction.csv')
test_transaction = pd.read_csv('/Users/zhaoruidi/Documents/Kaggle/Data/test_transaction.csv')

In [27]:
test_identity.columns = [i.replace('-', '_') for i in test_identity.columns]

# Data Preprocessing

In [48]:
# X_train_identity = train_identity[['TransactionID', 'id_01', 'id_12']]
X_train = train_transaction[['TransactionID', 'TransactionAmt', 'ProductCD', 'isFraud']]

# X_train = X_train_identity.merge(X_train_transaction, how = 'left', on = 'TransactionID')

y_train = X_train['isFraud']
X_train = X_train.drop('isFraud', axis = 1)

X_train.drop('TransactionID', axis = 1, inplace = True)
X_train = pd.get_dummies(X_train, ['ProductCD'], drop_first=True)

X_train

        TransactionAmt  ProductCD_H  ProductCD_R  ProductCD_S  ProductCD_W
0                68.50            0            0            0            1
1                29.00            0            0            0            1
2                59.00            0            0            0            1
3                50.00            0            0            0            1
4                50.00            1            0            0            0
...                ...          ...          ...          ...          ...
590535           49.00            0            0            0            1
590536           39.50            0            0            0            1
590537           30.95            0            0            0            1
590538          117.00            0            0            0            1
590539          279.95            0            0            0            1

[590540 rows x 5 columns]

In [50]:
# X_test_identity = test_identity[['TransactionID', 'id_01', 'id_12']]
X_test = test_transaction[['TransactionID', 'TransactionAmt', 'ProductCD']]

# X_test = X_test_identity.merge(X_test_transaction, how = 'left', on = 'TransactionID')

X_test.drop('TransactionID', axis = 1, inplace = True)
X_test = pd.get_dummies(X_test, ['ProductCD'], drop_first=True)

X_test

        TransactionAmt  ProductCD_H  ProductCD_R  ProductCD_S  ProductCD_W
0               31.950            0            0            0            1
1               49.000            0            0            0            1
2              171.000            0            0            0            1
3              284.950            0            0            0            1
4               67.950            0            0            0            1
...                ...          ...          ...          ...          ...
506686          94.679            0            0            0            0
506687          12.173            0            0            0            0
506688          49.000            0            0            0            1
506689         202.000            0            0            0            1
506690          24.346            0            0            0            0

[506691 rows x 5 columns]

# Train the model

In [51]:
from xgboost import XGBClassifier
xgb_clf = XGBClassifier()
xgb_clf.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [52]:
prediction = xgb_clf.predict(X_test)

In [53]:
result = pd.DataFrame({'TransactionID':test_transaction['TransactionID'], 'isFraud':prediction})
result.head()

   TransactionID  isFraud
0        3663549        0
1        3663550        0
2        3663551        0
3        3663552        0
4        3663553        0

In [54]:
result.to_csv('result.csv', index = False)